.cards--list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 20px;
}

  .card{
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .card-badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
  }
  
  .card--image{
    width: 100%;
    border-radius: 9px;
    height: 40vh;
    margin-bottom: 9px;
  }

  .card--stats {
    display: flex;
    align-items: center;
  }
  
  
  .card--star{
  height: 14px;
  }


  .gray{
    color: rgb(128, 128, 128);
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }


  .card--title{
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-price {
    margin-top: auto;
  }

  .section{
    padding: 20px;
  }